page-cart {
  ion-list {
    ion-item {
      h2 {
        font-weight: bold;
      }
      .price {
        font-size: 12px;
        color: darkslategray;
      }
      .subtotal {
        font-size: 20px;
        color: hotpink;
      }
    }
  }
  ion-card {
    border-radius:15px !important;
  }
}
