<ion-header>
  <ion-navbar color="primary">
    <ion-title>Cart</ion-title>
    <button ion-button large clear menuToggle icon-only >
      <ion-icon name='menu'></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: rgb(248, 247, 247)">
  <ion-img *ngIf="!items || items.length == 0" src="assets/imgs/shopping-cart.svg"style="width: 100px;height: 100px;display: block;margin: 0 auto;background-color: #f8f7f7;color: #faafc8!important;"></ion-img>
  <ion-label *ngIf="!items || items.length == 0"  text-center="">Keranjang Anda Kosong</ion-label>
    <ion-card *ngFor="let item of items; let i = index;" >
      <ion-list>
        <ion-item >
          <ion-thumbnail item-start>
            <img src="{{item.img_url}}">
          </ion-thumbnail>
          <h2> {{item.name}} </h2>
          <div text-left class="price">
            Rp {{item.price | number}} x {{item.qty}}
          </div>
          <div text-right class="subtotal">
            Rp {{item.subtotal | number}}
          </div>
          <div text-right>
            <div class="button-bar">
              <!-- <button ion-button small outline color="dark"><ion-icon name="remove"></ion-icon></button> -->
              <button ion-button small outline color="primary" (click)="qtyPrompt(item)" ><ion-icon color="primary" name="create"></ion-icon></button>
              <button ion-button small color="primary" (click)="removeCart(item)" ><ion-icon name="trash"></ion-icon></button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-card>


</ion-content>

<ion-footer no-border padding>
  <button  *ngIf="!items || items.length == 0" disabled ion-button round block>Checkout</button>
  <button *ngIf="items && items.length != 0" ion-button round block (click)="address()">Checkout</button>
</ion-footer>
