<ion-header>
  <ion-navbar color="primary">
      <button ion-button large clear menuToggle icon-only >
        <ion-icon name='menu'></ion-icon>
      </button>

      <img text-center="" style="height: 40px;width: auto;display: block;margin-left: 75px;" src="assets/imgs/belimukena.png">
          <!--<ion-searchbar [(ngModel)]="keyword" (ionInput)="getProduct()"></ion-searchbar>-->
  </ion-navbar>
  <ion-toolbar color="primary">
    <!--<button ion-button large clear menuToggle icon-only >-->
      <!--<ion-icon name='menu'></ion-icon>-->
    <!--</button>-->
    <ion-searchbar [(ngModel)]="keyword" (ionInput)="getProduct()"></ion-searchbar>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides pager>
    <ion-slide *ngFor="let slide of slider;" style="background-color: green">
      <!--<h2>Slide 1</h2>-->
      <img src="{{slide}}" class="slide-image"/>
    </ion-slide>

  </ion-slides>


  <ion-grid text-center no-padding>

    <ion-card *ngFor="let item of product; let i = index;">

      <ion-item>
        <ion-avatar item-start (click)="doDetailProducts(item)">
          <img src="{{item.images}}">
        </ion-avatar>
        <ion-row  (click)="doDetailProducts(item)">
          <h2>{{item.name}}</h2>
        </ion-row>
        <ion-row>
          <ion-col col-4  (click)="doDetailProducts(item)"><p>Rp .{{item.price}}</p></ion-col>
          <ion-col col-4  (click)="doDetailProducts(item)"></ion-col>
          <ion-col col-4>
            <button ion-button small (click)="addToCart(item.id)">Beli</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>

  </ion-grid>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
