page-productdetail {
  .scroll-content {
    padding-top: 0 !important;
  }
  .back-button-icon-md {
    color: black;
  }
  .back-button-icon-ios {
    color: black;
  }
  .back-button-icon-wp {
    color: black;
  }
}
