<ion-header>

  <ion-navbar color="primary">
    <ion-title>Order Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
    <ion-row>
      <ion-item-divider color="light">
      <ion-col style="color: black">Status : </ion-col>
        <ion-col *ngIf="(product?.status_id == 1)" style="color: #FF8247;">{{product?.status}}</ion-col>
        <ion-col *ngIf="(product?.status_id == 2)" style="color: lightskyblue;">{{product?.status}}</ion-col>
        <ion-col *ngIf="(product?.status_id == 3)" style="color: darkblue;">{{product?.status}}</ion-col>
        <ion-col *ngIf="(product?.status_id == 4)" style="color: teal;">{{product?.status}}</ion-col>
        <ion-col *ngIf="(product?.status_id == 5)" style="color: darkred;">{{product?.status}}</ion-col>
      </ion-item-divider>
    </ion-row>
    <ion-row>
      <ion-col>Tanggal Pembelian : </ion-col>
      <ion-col>Batal Otomatis : </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><p>{{product?.created_at}}</p></ion-col>
      <ion-col><p>24 jam</p></ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col>Penerima :</ion-col>
      <ion-col>Alamat Pengiriman :</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><p>{{product?.shipment.shipment_to}}</p></ion-col>
      <ion-col><p>{{product?.shipment.shipment_address}}</p></ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col>Nomor Resi:</ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="product?.shipment.resi_number != null">{{product?.shipment.resi_number}}</ion-col>
      <ion-col *ngIf="product?.shipment.resi_number == null">belum dikirim</ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col>
        INVOICE {{product?.invoice_number}}
      </ion-col>
    </ion-row>
    </ion-card-content>
  </ion-card>

  <div style="background-color: #f4f4f4;border-radius: 15px!important;" padding="5px 0 5px 0">
    <ion-card *ngFor="let itemlist of product?.item">
      <ion-card-header>
        {{itemlist.name}}
      </ion-card-header>

      <ion-card-content>
        <p item-start>Rp.{{itemlist.price | number}}</p>
        <p item-end>jumlah barang : {{itemlist.qty}}</p>
      </ion-card-content>

    </ion-card>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-list no-lines>
        <ion-item>
          <p item-start>Total Belanja</p>
          <p item-end style="font-size: 18px;">Rp.{{product?.price_detail.product_total | number}}</p>
        </ion-item>
        <ion-item>
          <p item-start>Ongkos Kirim</p>
          <p item-end style="font-size: 18px;">Rp.{{product?.price_detail.shipment_price | number}}</p>
        </ion-item>
        <ion-item>
          <p item-start>Nomor Unik</p>
          <p item-end style="font-size: 18px;">{{product?.price_detail.unique_number}}</p>
        </ion-item>
        <hr>
        <ion-item>
          <p item-start>Total Pembayaran</p>
          <p item-end style="font-size: 18px;">Rp.{{product?.price_detail.total | number}}</p>
        </ion-item>
      </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer no-border padding>
  <button  *ngIf="product?.status_id == 1" (click)="confirmationPayment()" ion-button round block>Konfirmasi Bayar</button>
</ion-footer>
