<!--
  Generated template for the OrderstatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Status Order</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <div>
        <ion-segment color="primary"[(ngModel)]="category">
            <ion-segment-button value="confirm">
                Menunggu Konfirmasi
              </ion-segment-button>
              <ion-segment-button value="menunggu">
                Menunggu Proses
              </ion-segment-button>
              <ion-segment-button value="proses">
                Sedang Diproses
              </ion-segment-button>
              <ion-segment-button value="dikirim">
                Sedang Dikirim
              </ion-segment-button>
              <ion-segment-button value="batal">
                Batal
              </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="category" swipeSegment [tabsList]="categories" [(currentTab)]="category" (tabChanged)="onTabChanged($event)" class="swipe-area">
        <ion-list *ngSwitchCase="'confirm'">
            <div *ngFor="let item of orderlist">
              <button ion-item detail-push="" *ngIf="(item.status_id == 1)" (click)="orderDetail()">
                <h2 style="color: #faafc8"><b>{{item.invoice_number}}</b></h2>
                <h3 style="color: #FF8247"><b>{{item.status}}</b></h3>
                <p style="color: black"><b>{{item.shipment.shipment_to}}</b></p>
                <p>Rp.{{item.total | number}},-</p>
                <p>{{item.created_at}}</p>
            </button>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'menunggu'">
            <div *ngFor="let item of orderlist">
              <button ion-item detail-push="" *ngIf="(item.status_id == 2)">
                <h2 style="color: #faafc8"><b>{{item.invoice_number}}</b></h2>
                <h3 style="color: lightskyblue"><b>{{item.status}}</b></h3>
                <p style="color: black"><b>{{item.shipment.shipment_to}}</b></p>
                <p>Rp.{{item.total | number}},-</p>
                <p>{{item.created_at}}</p>
              </button>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'proses'">
          <div *ngFor="let item of orderlist">
            <button ion-item detail-push="" *ngIf="(item.status_id == 3)">
              <h2 style="color: #faafc8"><b>{{item.invoice_number}}</b></h2>
              <h3 style="color: darkblue"><b>{{item.status}}</b></h3>
              <p style="color: black"><b>{{item.shipment.shipment_to}}</b></p>
              <p>Nomor Resi : {{item.shipment.resi_number}}</p>
              <p>{{item.created_at}}</p>
            </button>
          </div>
        </ion-list>

          <ion-list *ngSwitchCase="'dikirim'">
          <div *ngFor="let item of orderlist">
            <button ion-item detail-push="" *ngIf="(item.status_id == 4)">
              <h2 style="color: #faafc8"><b>{{item.invoice_number}}</b></h2>
              <h3 style="color: teal"><b>{{item.status}}</b></h3>
              <p style="color: black"><b>{{item.shipment.shipment_to}}</b></p>
              <p>Nomor Resi : {{item.shipment.resi_number}}</p>
              <p>{{item.created_at}}</p>
            </button>
          </div>
        </ion-list>

        <ion-list *ngSwitchCase="'batal'">
          <div *ngFor="let item of orderlist">
            <button ion-item detail-push="" *ngIf="(item.status_id == 5)">
              <h2 style="color: #faafc8"><b>{{item.invoice_number}}</b></h2>
              <h3 style="color: darkred"><b>{{item.status}}</b></h3>
              <p style="color: black"><b>{{item.shipment.shipment_to}}</b></p>
              <p>Nomor Resi : {{item.shipment.resi_number}}</p>
              <p>{{item.created_at}}</p>
            </button>
          </div>
        </ion-list>
      </div>

</ion-content>
